<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Shahab.CensusReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!-- order of column Member Family Grid -->
    <add key="IndexSelectedColumn" value="0"/>
    <add key="IndexIdColumn" value="1"/>
    <add key="IndexFirstNameColumn" value="2"/>
    <add key="IndexLastNameColumn" value="3"/>
    <add key="IndexNationalCodeColumn" value="4"/>
    <add key="IndexActivityStatusColumn" value="5"/>
    <add key="IndexRelationShipColumn" value="6"/>
    <!-- End of order of column Member Family Grid -->
    <!-- order of column Family Grid -->
    <add key="IndexFamilySelectedColumn" value="0"/>
    <add key="IndexFamilyIdColumn" value="1"/>
    <add key="IndexFamilyRowColumn" value="2"/>
    <add key="IndexFamilyNumberColumn" value="3"/>
    <add key="IndexFamilyFullNameColumn" value="4"/>
    <add key="IndexFamilyProvinceColumn" value="5"/>
    <add key="IndexFamilyCityColumn" value="6"/>
    <add key="IndexFamilyPostalCodeColumn" value="7"/>
    <add key="IndexFamilyNationalCodeColumn" value="8"/>
    <add key="IndexFamilyTypeColumn" value="9"/>
    <!-- End of order of column Family Grid -->
    <!-- Condition Id-->
    <add key="NoIranianValue" value="30"/>
    <add key="InstituteFamilyTypeValue" value="18"/>
    <add key="NoInsuranceValue" value="83"/>
    <add key="MinAgeConditionValue" value="6"/>
    <add key="SpouseRelationValue" value="34"/>
    <add key="HaveSpouseValue" value="48"/>
    <add key="SupervisorValue" value="33"/>
    <add key="WorkingValue" value="60"/>
    <!-- End of Condition Id-->
    <add key="SMSServiceUrl" value="http://parsasms.com/tools/urlservice/send/?username={0}&amp;password={1}&amp;from={2}&amp;to={3}&amp;message={4}"/>
    <add key="defaultImagePath" value="/Image/captcha1.png"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=ITO-STATION-101\SQLEXPRESS;Initial Catalog=Shahab;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="/Component/FamilyLogin.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Shahab.CensusReport.Properties.Settings>
      <setting name="Shahab_CensusReport_SMSService_v2" serializeAs="String">
        <value>http://parsasms.com/webservice/v2.asmx</value>
      </setting>
    </Shahab.CensusReport.Properties.Settings>
  </applicationSettings>
</configuration>